{{> navbar user}}
{{#each questions}}
<div class="card">
    <div class="card-body px-6">
        {{this.title}}
    </div>
    <div class="form-check px-5">
        <input class="form-check-input" type="radio" name="answer-{{this.id}}" id="radio-{{this.answerOne}}"
            value="{{this.answerOne}}">
        <label class="form-check-label" for="exampleRadios1">
            {{this.answerOne}}
        </label>
    </div>
    <div class="form-check px-5">
        <input class="form-check-input" type="radio" name="answer-{{this.id}}" id="radio-{{this.answerTwo}}"
            value="{{this.answerTwo}}">
        <label class="form-check-label" for="exampleRadios1">
            {{this.answerTwo}}
        </label>
    </div>
    <div class="form-check px-5">
        <input class="form-check-input" type="radio" name="answer-{{this.id}}" id="radio-{{this.answerThree}}"
            value="{{this.answerThree}}">
        <label class="form-check-label" for="exampleRadios1">
            {{this.answerThree}}
        </label>
    </div>
    <div class="form-check px-5">
        <input class="form-check-input" type="radio" name="answer-{{this.id}}" id="radio-{{this.answerFour}}"
            value="{{this.answerFour}}">
        <label class="form-check-label" for="exampleRadios1">
            {{this.answerFour}}
        </label>
    </div>
</div>
</div>



{{/each}}
<div>
    <div class="mx-auto mt-4" style="width: 200px;">
        <button type="button" id="submit" class="btn btn-primary">Submit Answers</button>
    </div>
</div>

<script>
    $('#submit').on('click', function () {
        const allAnswers = [];
        for (let i = 4; i < 7; i++) {
            const answer = $(`input[name='answer-${i}']:checked`).val();
            allAnswers.push(answer)
        }
        $.ajax({
            method: "GET",
            url: "/api/questions/answers/{{quizId}}"
        }).then(results => {
            console.log(results)
            //compare two arrays against their values 
            //does index match the correct answers array?
            //loop or map? 
        })
    })

</script>

{{!-- <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div> --}}




{{!-- <div class="input-group">
    <input id="answerOne" name="answerOne" placeholder="Answer a" type="radio" class="form-control"
        aria-label="Text input with radio button">
</div>
<div class="input-group">
    <input id="answerTwo" name="answerTwo" placeholder="Answer b" type="text" class="form-control"
        aria-label="Text input with radio button">
</div>
<div class="input-group">
    <input id="answerThree" name="answerThree" placeholder="Answer c" type="text" class="form-control"
        aria-label="Text input with radio button">
</div>
<div class="input-group">
    <input id="answerFour" name="answerFour" placeholder="Answer d" type="text" class="form-control"
        aria-label="Text input with radio button">
</div> --}}

{{!-- for handlebars {{#each question and radio button for each individual}}
{{!-- create logic for checking the correct answer and push to score --}}