{{> navbar user}}
{{#each questions}}
<div class="card">
    <div class="card-body px-6">
        {{this.title}}
    </div>
    <div class="form-check px-5">
        <input class="form-check-input" type="radio" name="answer-{{this.id}}" id="radio-{{this.answerOne}}"
            value="{{this.answerOne}}">
        <label class="form-check-label" for="exampleRadios1">
            {{this.answerOne}}
        </label>
    </div>
    <div class="form-check px-5">
        <input class="form-check-input" type="radio" name="answer-{{this.id}}" id="radio-{{this.answerTwo}}"
            value="{{this.answerTwo}}">
        <label class="form-check-label" for="exampleRadios1">
            {{this.answerTwo}}
        </label>
    </div>
    <div class="form-check px-5">
        <input class="form-check-input" type="radio" name="answer-{{this.id}}" id="radio-{{this.answerThree}}"
            value="{{this.answerThree}}">
        <label class="form-check-label" for="exampleRadios1">
            {{this.answerThree}}
        </label>
    </div>
    <div class="form-check px-5">
        <input class="form-check-input" type="radio" name="answer-{{this.id}}" id="radio-{{this.answerFour}}"
            value="{{this.answerFour}}">
        <label class="form-check-label" for="exampleRadios1">
            {{this.answerFour}}
        </label>
    </div>
</div>
</div>



{{/each}}
<div>
    <div class="mx-auto mt-4" style="width: 200px;">
        <button type="button" id="submit" class="btn btn-primary">Submit Answers</button>
    </div>
</div>

<script>
    $('#submit').on('click', function () {
        $.ajax({
            method: "GET",
            url: "/api/questions/answers/{{QuizId}}"
        }).then(response => {
            console.log(response)
            //compare two arrays against their values
            //does index match the correct answers array?
            let numQuestions = response.length;
            let results = 0;
            for (let i = 0; i < numQuestions; i++) {
                const question = response[i];
                const answer = $(`input[name='answer-${question.id}']:checked`).val();
                if (answer === question.correctAnswer) {
                    results++;
                }
            }
            console.log(results)
            $.ajax({
                method: "POST",
                url: "/api/results",
                data: { results: results, numQuestions: numQuestions, QuizId: "{{QuizId}}" }
            }).then(response => {
                window.location.href="/results"
            })
        })

    })

</script>
